---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout>
  <h1>Clustering</h1>
  <p>Content related to the Clustering analysis.</p>

  <h2>Clustering</h2>
  <p>Content related to the Clustering analysis.</p>

  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat repudiandae
  quos assumenda consequuntur excepturi, a saepe? Labore earum accusantium sed
  necessitatibus omnis vel possimus provident commodi! Quisquam, alias.
  Assumenda, temporibus. Lorem ipsum dolor sit amet consectetur adipisicing
  elit. Quos animi ad ullam distinctio rerum, aspernatur recusandae
  reprehenderit fuga beatae deleniti, a labore velit, aliquid sequi mollitia
  praesentium laborum blanditiis aperiam! Lorem ipsum dolor sit amet consectetur
  adipisicing elit. Deserunt voluptate repellat molestiae ab delectus, harum
  nulla ratione dolore fuga, quaerat nisi minus dicta saepe voluptatibus animi
  impedit corporis neque quasi. Lorem ipsum dolor sit amet consectetur
  adipisicing elit. Quaerat repudiandae quos assumenda consequuntur excepturi, a
  saepe? Labore earum accusantium sed necessitatibus omnis vel possimus
  provident commodi! Quisquam, alias. Assumenda, temporibus. Lorem ipsum dolor
  sit amet consectetur adipisicing elit. Quos animi ad ullam distinctio rerum,
  aspernatur recusandae reprehenderit fuga beatae deleniti, a labore velit,
  aliquid sequi mollitia praesentium laborum blanditiis aperiam! Lorem ipsum
  dolor sit amet consectetur adipisicing elit. Deserunt voluptate repellat
  molestiae ab delectus, harum nulla ratione dolore fuga, quaerat nisi minus
  dicta saepe voluptatibus animi impedit corporis neque quasi. Lorem ipsum dolor
  sit amet consectetur adipisicing elit. Quaerat repudiandae quos assumenda
  consequuntur excepturi, a saepe? Labore earum accusantium sed necessitatibus
  omnis vel possimus provident commodi! Quisquam, alias. Assumenda, temporibus.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos animi ad ullam
  distinctio rerum, aspernatur recusandae reprehenderit fuga beatae deleniti, a
  labore velit, aliquid sequi mollitia praesentium laborum blanditiis aperiam!
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt voluptate
  repellat molestiae ab delectus, harum nulla ratione dolore fuga, quaerat nisi
  minus dicta saepe voluptatibus animi impedit corporis neque quasi. Lorem ipsum
  dolor sit amet consectetur adipisicing elit. Quaerat repudiandae quos
  assumenda consequuntur excepturi, a saepe? Labore earum accusantium sed
  necessitatibus omnis vel possimus provident commodi! Quisquam, alias.
  Assumenda, temporibus. Lorem ipsum dolor sit amet consectetur adipisicing
  elit. Quos animi ad ullam distinctio rerum, aspernatur recusandae
  reprehenderit fuga beatae deleniti, a labore velit, aliquid sequi mollitia
  praesentium laborum blanditiis aperiam! Lorem ipsum dolor sit amet consectetur
  adipisicing elit. Deserunt voluptate repellat molestiae ab delectus, harum
  nulla ratione dolore fuga, quaerat nisi minus dicta saepe voluptatibus animi
  impedit corporis neque quasi.
</MainLayout>
