---
import NavLink from "./NavLink.astro";
---

<nav>
  <ul>
    <li><NavLink href="/">Home</NavLink></li>
    <li>
      <NavLink href="/app-analytics">App Analytics</NavLink>
      <ul>
        <li><NavLink href="/app-analytics/clustering">Clustering</NavLink></li>
        <li>
          <NavLink href="/app-analytics/fampay-response">
            Fampay Response
          </NavLink>
        </li>
        <li><NavLink href="/app-analytics/log-hunter">Log Hunter</NavLink></li>
        <!-- ... other App-Analytics subpages -->
      </ul>
    </li>
    <li><NavLink href="/competition">Competition</NavLink></li>
    <!-- ... other main directory navigation items -->
  </ul>
</nav>
