---
---

<aside class="sidebar">
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li>
        <a href="/app-analytics">App Analytics</a>
        <ul>
          <li><a href="/app-analytics/clustering">Clustering</a></li>
          <li><a href="/app-analytics/fampay-response">Fampay Response</a></li>
          <li><a href="/app-analytics/log-hunter">Log Hunter</a></li>
          <!-- ... other App-Analytics subpages -->
        </ul>
      </li>
      <li><a href="/competition">Competition</a></li>
      <!-- ... other main directory navigation items -->
    </ul>
  </nav>
</aside>
