<script is:inline>
  // Redirect your homepage to the first page of documentation.
  // If you have a landing page, remove this script and add it here!
  window.location.pathname = `/app/introduction`;
</script>

<body>
  <!-- <script>
		var password = prompt("Enter the password to access this website:");
	  
		// Change the password value to match your desired password
		var correctPassword = "harshu2002";
	  
		if (password !== correctPassword) {
		  // Redirect to an error page or display an error message
		  window.location.href = "/error.html";
		}
	  </script>	   -->
</body>
